@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
      @apply bg-purple-300 text-gray-900;
    }
  }

  @keyframes gradient-text {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .animate-gradient-text {
    background-size: 200% 200%;
    animation: gradient-text 2s ease infinite alternate;
  }
  

  .overlay {
      clip-path: circle(var(--clip-size,10px) at var(--x,50%) var(--y,50%));
      transition: clip-path 120ms;
  }

  @media (max-width: 768px) {
    .overlay {
      clip-path: none;
      transition: none;
    }
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animate-gradient {
    animation: gradientMove 3s ease infinite;
}


  
